

*,
*::before,
*::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
}
body{
    font-weight: 400;
}

html, body {
    background: black;
    color: #00b800;
    padding: 1rem;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}


.button {
    font-weight: 700;
    font-size: 15px;
    letter-spacing: 1px;
}
 button {
    font-family: 'Press Start 2P', cursive;
    //display: block;
    margin: 0 auto;
    border: none;
    //background: #a80020;
    background: #00b800;
    padding: 10px 20px;
    text-transform: uppercase;
    transition: all .3s;
    border-radius: 5px;
    box-shadow: inset 0 1px 1px rgba($color: black, $alpha: 0.5);
    &:link,
    &:visited{
        transform: translateY(0);
    }
    &:hover{
        background: red;
        transform: translateY(-2px);
    }&:active{
        transform: translateY(1px);
    }
}

h1 {
    font-size: 20px;
    text-align:center;
}

textarea {
    font-family: 'Press Start 2P', cursive;
    border: 3px solid black;
    width: 90%;
    margin: 0 auto;
    outline: none;
    height: 20rem;
    background: #00b800;
    padding: 1rem;
}